title: PagesPlayground
description: Simple page
baseurl: "/PagesPlayground"
url: "https://marcelolynch.github.io"
github_username: marcelolynch
repository: marcelolynch/PagesPlayground
theme: jekyll-theme-cayman
plugins:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
  - node_modules
